# Bienvenido a tu primer Jupyter
# Ejecutado en Google Colab 
Este archivo tiene el prop칩sito de ense침arte algunas funcionalidades b치sicas de un cuaderno jupyter. La primera funcionalidad es mostrarte c칩mo se puede abrir un archivo de datos separados por comas (archivo .csv).
Utiiza el archivo de datos newdata.csv disponible en el reposito de Github

In [1]:
import pandas as pd        # Libreria especializada en el manejo y estructura de datos 
url = "https://raw.githubusercontent.com/jcorrean/ItinerarioPython/main/newdata.csv"   # Link del repositorio Github de datos
datos = pd.read_csv(url)   # Cargue del archivo del datos "newdata" al dataframe "datos" para su procesamiento
datos.head()               # Muestra el contenido de los cinco primeros registros del dataframe "datos"

    Moment  number  ... Time(sec) Time(min)
0  Morning       1  ...       660      11.0
1  Morning       1  ...       720      12.0
2  Morning       1  ...      1740      29.0
3  Morning       1  ...      1740      29.0
4  Morning       1  ...      1320      22.0

[5 rows x 19 columns]

In [2]:
datos.describe()      # muestra las principales estadisticas descriptivas de los datos numericos del dataframe "datos"

             number  Number of Comments  ...     Time(sec)     Time(min)
count  19934.000000        14727.000000  ...  19934.000000  19910.000000
mean     418.140815          200.618795  ...   1261.410605     21.048368
std      243.022426          794.873828  ...    805.804964     13.419063
min        1.000000            0.000000  ...      4.000000      1.000000
25%      209.000000            3.000000  ...    660.000000     11.000000
50%      416.000000           26.000000  ...   1140.000000     19.000000
75%      624.000000          139.000000  ...   1680.000000     28.000000
max      871.000000        12832.000000  ...   3540.000000     59.000000

[8 rows x 11 columns]