# Bienvenido a tu primer Jupyter - Version Google Colab

Este archivo tiene el propósito de enseñarte algunas funcionalidades básicas de un cuaderno jupyter (Jupyter Notebook). La primera funcionalidad es mostrarte cómo se puede abrir un archivo de datos separados por comas (archivo .csv).

## 1. Conexion al Repositorio de Github 
Debes conectarte al repositiorio para tener acceso a los datos de la actividad.

In [7]:
url = "https://raw.githubusercontent.com/jcorrean/ItinerarioPython/main/newdata.csv"   # Link del repositorio Github de datos


## 2. Llamado a las librerias
Siempre debes asegurarte de llamar las librerias necesarias para el desarrollo de tus actividades, de tal forma que no te generen errores o inconsistencias en pasos posteriores

In [9]:
import pandas as pd                     # Libreria especializada en el manejo y estructura de datos

## 3. Conjunto de datos o datasets a utilizar
Debes indicar los conjuntos de datos o datasets que contienen la informacion que analizaras en tu actividad. 
Se cuidadoso de incluir toda la ruta donde se encuentra el archivo, así como la extensión del mismo. Recuerda que en este caso de trata de un archivo csv o de datos separados por comas.
Es conveniente que te acostumbres a validar que los datos se hayan leido correctamente, mediante comandos como head() o tail() y vaerificar la cantidad de datos leidos con len.

In [ ]:
datos = pd.read_csv("newdata.csv")      # En datos se guardara la informacion del archivo de datos "newdata.csv"

In [ ]:
datos.head()                            # Muestra el contenido de los cinco primeros registros del dataframe "datos"

,Moment,number,web,Name of Provider,Number of Comments,Expected Delivery Time,Minimum Charge Ordering,Cost Delivery,Latitude,Longitude,Typical Traffic Afternoon,Typical Traffic Noon,Typical Traffic Morning,DailyTraffic,ClientLatitude,ClientLongitude,Distance(mts),Time(sec),Time(min)
0,Morning,1,https://domicilios.com/bogota/kfc-cc-atlantis-...,KFC,5329.0,45.0,9900.0,3500.0,4.66597,-74.05558,Red,Orange,Green,ROG,4.665798,-74.040855,2500,660,11.0
1,Morning,1,https://domicilios.com/bogota/kfc-cc-atlantis-...,KFC,5329.0,45.0,9900.0,3500.0,4.66597,-74.05558,Red,Orange,Green,ROG,4.666159,-74.038331,3300,720,12.0
2,Morning,1,https://domicilios.com/bogota/kfc-cc-atlantis-...,KFC,5329.0,45.0,9900.0,3500.0,4.66597,-74.05558,Red,Orange,Green,ROG,4.670228,-74.026783,9100,1740,29.0
3,Morning,1,https://domicilios.com/bogota/kfc-cc-atlantis-...,KFC,5329.0,45.0,9900.0,3500.0,4.66597,-74.05558,Red,Orange,Green,ROG,4.662140,-74.008008,9700,1740,29.0
4,Morning,1,https://domicilios.com/bogota/kfc-cc-atlantis-...,KFC,5329.0,45.0,9900.0,3500.0,4.66597,-74.05558,Red,Orange,Green,ROG,4.669905,-74.104917,8800,1320,22.0

In [ ]:
datos.tail()                            # Muestra el contenido de los ultimos cinco registros del dataframe "datos"

,Moment,number,web,Name of Provider,Number of Comments,Expected Delivery Time,Minimum Charge Ordering,Cost Delivery,Latitude,Longitude,Typical Traffic Afternoon,Typical Traffic Noon,Typical Traffic Morning,DailyTraffic,ClientLatitude,ClientLongitude,Distance(mts),Time(sec),Time(min)
19929,Afternoon,752,https://domicilios.com/bogota/a-mordiscos-2.ht...,A Mordiscos,0.0,45.0,NaN,3000.0,4.631854,-74.084877,Green,Orange,Orange,GOO,4.634703,-74.142852,7900,1020,17.0
19930,Afternoon,752,https://domicilios.com/bogota/a-mordiscos-2.ht...,A Mordiscos,0.0,45.0,NaN,3000.0,4.631854,-74.084877,Green,Orange,Orange,GOO,4.635067,-74.028594,24700,3420,57.0
19931,Afternoon,752,https://domicilios.com/bogota/a-mordiscos-2.ht...,A Mordiscos,0.0,45.0,NaN,3000.0,4.631854,-74.084877,Green,Orange,Orange,GOO,4.631293,-74.069551,2900,600,10.0
19932,Afternoon,752,https://domicilios.com/bogota/a-mordiscos-2.ht...,A Mordiscos,0.0,45.0,NaN,3000.0,4.631854,-74.084877,Green,Orange,Orange,GOO,4.634237,-74.113468,4200,660,11.0
19933,Afternoon,752,https://domicilios.com/bogota/a-mordiscos-2.ht...,A Mordiscos,0.0,45.0,NaN,3000.0,4.631854,-74.084877,Green,Orange,Orange,GOO,4.631090,-74.070515,2900,540,9.0

In [ ]:
print(len(datos))

19934

## 4. Caracteristicas generales de conjunto de datos
Comprender las caracteristicas de los datos es fundamental para su interpretación. Valores como la media, el minimo, el maximo y la desviacion entre otros son esenciales para lograr el entendimiento del comportmiento de los datos.

In [ ]:
datos.describe()                         # Muestra las principales estadisticas descriptivas de los datos numericos del dataframe "datos"

,number,Number of Comments,Expected Delivery Time,Minimum Charge Ordering,Cost Delivery,Latitude,ClientLatitude,ClientLongitude,Distance(mts),Time(sec),Time(min)
count,19934.000000,14727.000000,18558.000000,16906.000000,14271.000000,19934.000000,19934.000000,19934.000000,19934.000000,19934.000000,19910.000000
mean,418.140815,200.618795,44.592305,13078.368627,2580.827116,4.581730,4.581726,-64.074389,8536.884870,1261.410605,21.048368
std,243.022426,794.873828,12.603421,11671.185974,1411.358955,2.730836,2.730568,337.958592,6074.309472,805.804964,13.419063
min,1.000000,0.000000,5.000000,2000.000000,0.000000,-74.061067,-74.134704,-74.290032,12.000000,4.000000,1.000000
25%,209.000000,3.000000,40.000000,9900.000000,2000.000000,4.646435,4.646930,-74.108234,3700.000000,660.000000,11.000000
50%,416.000000,26.000000,45.000000,10000.000000,2800.000000,4.677227,4.677056,-74.070712,7500.000000,1140.000000,19.000000
75%,624.000000,139.000000,45.000000,15000.000000,3200.000000,4.709429,4.708853,-74.030252,11800.000000,1680.000000,28.000000
max,871.000000,12832.000000,90.000000,260000.000000,15000.000000,4.776851,4.781545,15700.000000,54400.000000,3540.000000,59.000000