# Cuaderno 6: Archivos .json

Este cuaderno te explica como abrir y presentar la informacion de un archivo tipo json. Este es un formato muy utilizado para el almacenamiento y transferencia de datos, especilamnete en los desarrollos web.
Cada registro de informacion (objeto) comienza y termina con llaves {}. Puede tener dos o más pares de claves/valor dentro, con una coma para separarlos. Así mismo, cada clave o key es seguida por dos puntos para distinguirla del valor como lo observaras en el archivo del ejemplo

### 1. Llamado a las librerias
Como es costumbre te recordamos la importancia de llamar las librerias que utilizaras para el desarrollo de tu actividad.

In [1]:
import json                                     # libreria para trabajar con archivos json
import pandas as pd                             # Libreria especializada en el manejo y estructura de datos

### 2. Conjunto de datos a utilizar
Se utiliza el archivo empleados.json. Observa que su extensión es diferente a las que normalmente trabajamos con lo cual se identifica el tipo del mismo.
El archivo se cargara en data

In [2]:
with open("Empleados.json", 'r') as j:          # Apertura del archivo de datos empleados.json
     data = json.load(j)                        # Cargue del archivo de datos en data

In [3]:
data                                            # permite mostrar los datos cargados en el conjunto. No se usa head()

[{'id': '001',
  'Nombre': 'Alvaro',
  'Apellido': 'Moncada',
  'Cargo': 'Coordinador',
  'Area': 'Inteligencia Artificial'},
 {'id': 'A002',
  'Nombre': 'Nicolas',
  'Apellido': 'Gomez',
  'Cargo': 'Docente',
  'Area': 'Calculo'},
 {'id': 'A003',
  'Nombre': 'Juan Carlos',
  'Apellido': 'Correa',
  'Cargo': 'Docente',
  'Area': 'Analitica de Datos'}]

Una de las ventajas de este tipo de estructura de datos, es que no necesariamente todos los registros deben tener el mismo numero de campos, es decir pueden no ser estructurados, como normalmente estamos acostumbrados a las hojas de excel o las bases de datos tradicionales. 
Vamos ahora leer este mismo archivo en pandas para que veamos como se apreciaria.

In [4]:
datos = pd.read_json('Empleados.json')     # En datos se guarda la información del archivo "Empleados.json"
datos.head()

     id       Nombre Apellido        Cargo                     Area
0   001       Alvaro  Moncada  Coordinador  Inteligencia Artificial
1  A002      Nicolas    Gomez      Docente                  Calculo
2  A003  Juan Carlos   Correa      Docente       Analitica de Datos

### 3. Ventajas del formato json
Vamos ahora a apreciar una de las ventajas del formato json.
Utilizaremos el archivo de datos "Empleados(formaB).json" con los mismos comandos con los que cargamos el archivo datos, solo que ahora le llamaremos al conjunto de data1.

In [5]:
with open("Empleados (formaB).json", 'r') as j:         # Apertura del archivo de datos empleados.json
     data1 = json.load(j)                               # Cargue del archivo de datos en data

In [6]:
data1                                                   # permite mostrar los datos cargados en el conjunto data1

[{'id': '001',
  'Nombre': 'Alvaro',
  'Apellido': 'Moncada',
  'Cargo': 'Coordinador',
  'Area': 'Inteligencia Artificial'},
 {'id': 'A002',
  'Nombre': 'Nicolas',
  'Apellido': 'Gomez',
  'Cargo': 'Docente',
  'Area': 'Calculo',
  'Centro': 'SUMA'},
 {'id': 'A003',
  'Nombre': 'Juan Carlos',
  'Apellido': 'Correa',
  'Cargo': 'Docente',
  'Area': 'Analitica de Datos',
  'Pais': 'Venezuela'}]

En los resultados que acabas de obtener en data1 ¿que diferencias relevantes identificas?.

Efectivamente la existencia un pareja de datos para Nicolas Gomez correspondiente a 'Centro': 'SUMA' y para Juan Carlos Correa de 'Pais': 'Venezuela', que no tienen los demas registros, es lo que le brinda la potencia y utilidad a estos formatos de datos, ya que permite que cada pareja de datos venga con la informacion necesaria y no este sometida a un formato o estructura predefinida como ocurre normalmente en los sistemas de datos estructurados.

Si lo convertimos a una tabla estructurada, vamos a encontrarnos con esto:

In [7]:
datos1 = pd.read_json('Empleados (formaB).json')     # En datos1 se guarda la información del archivo "Empleados (formaB).json"
datos1.head()

,id,Nombre,Apellido,Cargo,Area,Centro,Pais
0,001,Alvaro,Moncada,Coordinador,Inteligencia Artificial,NaN,NaN
1,A002,Nicolas,Gomez,Docente,Calculo,SUMA,NaN
2,A003,Juan Carlos,Correa,Docente,Analitica de Datos,NaN,Venezuela

Si observas con detenimiento creó tantas columnas como parejas de datos habia en el archivo y para aquellas parejas que no tenia valor les coloco "NaN" lo que significa valor nulo o faltante. Te imaginas en un archivo de miles o millones de registros cuantos de estos valores aparecerian y cuanto espacio de almacenamiento se desperdiciaria.